@font-face {
  font-family: "RussoOne";
  src: local('RussoOne-Regular'), local('RussoOne-Web'), local('RussoOneWeb'),
  url('./src/assets/fonts/RussoOne-Regular.ttf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}